body{
  display: block;
  font-family: Arial;
  color: white;
  background-color: black;
}

.puce {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 60%;
}
.puce li {
    margin: auto;
}

.tab {
    display: grid;
    
}